.tolincome {
    color: #4d80f3;
}

.tolexpense {
    color: #fb6d9d;
}

.tolbalance {
    color: #81c868;
}

.toltransaction {
    color: #34d3eb;
}

.dashboard-tile-amount {
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    line-height: .8;
    font-weight: 700;
}

.dashboard-tile-title {
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.334;
    color: rgb(76, 206, 172);
}

.dashboard-tile-per {
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.334;
    font-style: italic;
    color: rgb(61, 165, 138);
}