.side-bar-menu {
    position: sticky;
    display: flex;
    height: 100vh;
    top: 0;
    bottom: 0;
    z-index: 10000;
}

.sidebar {
    border: none;
}

.menu-icon {
    background-color: transparent !important;
}

.menu-item {
    background-color: transparent !important;
}

.menu-anchor {
    color: inherit !important;
    background-color: transparent !important;

}

.menu-item:hover {
    color: #6870fa !important;
    background-color: transparent !important;
}

.menu-item.active {
    color: #4cceac !important;
    background-color: transparent !important;
}

.side-bar-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}

.user-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-image {
    background-color: #141b2d;
}

.menu-header {
    margin: 15px 20px 5px 20px;
    color: #a3a3a3;
    font-weight: 500;
    font-size: 13px;
}

.wallet-container {
    text-align: center;
    align-items: center;
    display: flex;
    /* background: #f9f9f9; */
    margin: 0 32px;
    height: 34px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    justify-content: center;
}

.current-balance {
    font-size: 15px;
    font-family: verdana;
    /* letter-spacing: normal; */
}