@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  font-family: "Source Sance Pro", sans-serif;
}

/* custom css */
.card-text {
  font-family: verdana, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  color: #6f6f6f !important;
  display: block;
  text-align: center;
  padding: 4px 0;
}

.card-value {
  margin-top: 10px;
  font-family: verdana, "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.card-block {
  padding: 2rem;
  padding: 1rem;
}

.balance {
  color: #797979 !important;
}

.balance {
  -moz-border-radius: 3px;
  background-clip: padding-box;
  background: #ffffff;
}

.card {
  margin-bottom: 16px;
}

.card {
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

#tolbalance {
  color: #81c868;
}

.main {
  display: grid;
  grid-template-columns: auto;
}







::-webkit-scrollbar-track {
  background-color: transparent;
}
 /* ::-webkit-scrollbar {
  width: 20px;
  height: 20px;
} */
/*
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
} */


/* pagination style */
.p-paginator {
  padding: 0px !important;
}

.p-paginator .p-paginator-first,
.p-paginator-last,
.p-paginator-next,
.p-paginator-current,
.p-paginator-prev {
  height: 2rem !important;
  min-width: 2rem !important;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 2rem !important;
  height: 2rem !important;
  border-radius: 0 !important;
}

.p-paginator .p-dropdown {
  height: 2rem !important;
}

.p-paginator .p-inputtext {
  padding: 0.2rem !important;
}

.p-dropdown .p-dropdown-trigger {
  width: 2rem !important;
}